html{
	
background-color:#9B9cb1;

}

body{

}
img {
	max-width:100%;
}


header{

	background-color:#353460;
	
	padding:10px;
	
	
	text-align:center;
	
	margin: 5%, auto;
	background-image:url(trajet2.jpg);

	background-repeat:no-repeat;
	background-size:cover;
	width: 85%;

	margin:auto;		
	height:200px;

}

h1{

	font-family:'Special Elite', cursive;

	margin:0;

	color: #353460;
}

header h1{
	font-size:42pt;
	padding-top:10px;
	margin-bottom:0px;
}

h3{
	font-family:'Special Elite', cursive;

	font-size:24pt;	
	margin:0;

	color: #353460;
	text-align:center;
	
}

a:link { 	
    
	text-decoration: none;

	list-style-type: none;

	color:#ffffff;
}


p a:link{
	color:000;
}

p a:visited{
	color:#9B9cb1;
}

sup {
	font-size:10pt;
	line-height:8pt;
}

sup a:link{
	color:#000;
}


sup a:visited{
	color:black;
}

ol.footnote a:link{
	color:black;
}

ol.footnote a:visited{
	color:black;
}

ol.footnote {
	font-size: 10pt;
}


h2{
	color:#353460;
	font-family:'Special Elite', cursive;

	text-align:right;
	font-size: 24pt;
}

header h2{
	padding-top:10px;
	margin-top:0px;
}

nav{

	padding-top:5px;

	padding-bottom:5px;

	text-align:center;

	font-size:20px;


}
a:visited { 	
    
	text-decoration: none;

	list-style-type: none;

	color:#ccccd7;
   
}

a:hover { 	
    
	text-decoration: underline;

	list-style-type: none;

	color:#ffffff;
}

nav ul{

   list-style-type: none;

   padding: 10px;
   margin: auto;
   width: 80%;

   min-width: 120px;
   text-align:center;

}

nav li{

   background-color: #353460;   	
   font-family:'Special Elite', cursive;

   color: white;

   display:block;

   padding:10px;

   margin-top:5px;
   margin-bottom:5px;
}


nav figure{
    text-align:center;
    color:#353460;
    
    font-family: 'Cutive', serif;
    font-size: 14pt;
    font-weight: bolder;
}



#sidebar {

    background-color: #ccccd7;

    float: left;

    width: 25%;
    height: 80%;
    margin: 2% 0% 2% 2%; 
    min-width:140px;
 
}



#content {

    background-color: #ffffff;

    font-family: 'Noto Serif', serif;

    width: 67%;

    float: right;
    margin: 2% 2% 2% 2%;
    padding: 10px; 
    min-width:160px;

    }

blockquote {
	background-color:#ccccd7;
	padding:10px 10px 10px 10px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:40px;
	min-width:140px;
	text-align:center;

}
blockquote h1{
        text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
blockquote p{
	display:inline;
	text-align:center;
	font-family:'Special Elite', cursive;
	font-size: 24pt;
	color:#353460;
	
}

blockquote img{
	float:right;
	margin-right:-20px;
	margin-left:15px;	
	margin-top:-25px;	
	width:20%;
	

}

blockquote.plain{
	background-color:white;
	padding:0;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:40px;
	min-width:140px;
	text-align:left;
	
}

blockquote.plain p{
	font-size:14pt;
	display:inline;
	text-align:left;
	font-family:'Noto Serif', serif;
	color:#000;
}

#slideshow {
	width: 80%;
	height:500px;
	background-color:black;
	text-align:center;
	color:white; 
	margin:0 auto; 
	display:inline-block;  
    
	
}

#slideshow div{
    width:100%;	
    height:80%;
    text-align:center;
    color:#353460;
 
    margin-top: 40px;    
}

#slideshow div img{
	width:auto;
	max-width:100%;

}

#slideshow p{
	margin-top:20px;
	padding:0 20px;
	text-align:center;
        font-family: 'Cutive', serif;

        font-size: 18pt;
}

#slidewrapper{
	text-align:center;
	margin:0 auto;
}
#slidewrapper div{
	vertical-align:middle;
}

#buttonL, #buttonR{
	display:inline-block;
	margin:0px;
	width: 40px;
	height:40px;
	
}


footer {

    background-color: #9b9cb1;

    color:white;
    
    font-family: 'Poiret One', serif;

    font-size: 14pt;	    
    clear:both;

}

